* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Sets the background color to an off white */
body {
    background-color: #d9dcd6;
}
/* Sets the font, backround color and text color of the header bar*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* Sets a higher font size to the company name */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* Sets the "seo" part of the company name to be slightly more off white */
.header h1 .seo {
    color: #d9dcd6;
}
/* Sets the top links to a smaller font size, moves them to the right of the page and sets the font */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Shows no marker for the list */
.header div ul {
    list-style-type: none;
}
/* Allows items to be displayed horizontally with a small left margin */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
/* Sets the color of the header links and removes any text decoration */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Sets the font size of the paragraph text */
p {
    font-size: 16px;
}
/* Sets the background image and position */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* Allows content to be set to the left */
.float-left {
    float: left;
    margin-right: 25px;
}
/* Allows content to be set to the right */
.float-right {
    float: right;
    margin-left: 25px;
}
/* Sets the display and position of the Search engine optimization, online reputation management and social media marketing elements on the main page of the site */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* Sets the format of the lead generation, brand awareness and cost management elements of the site */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 940px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Sets the text color and margin of the benefit lead, benefit brand, and benefit cost */
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Sets the subtext size and alignment of the benefit lead, benefit brand, and benefit cost */
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* modified below */
.benefit-lead img, .benefit-brand img, .benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* modified below */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* modified below */
.search-engine-optimization img, .online-reputation-management img, .social-media-marketing img {
    max-height: 200px;
}

/* modified below */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 20px;
}
